body {
    min-height: 100vh;
    padding-bottom: 20px;
    background-image: linear-gradient(to bottom, midnightblue, dodgerblue);
}

.about-header {
    color: black;
}

.about {
    font-size: 13px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    text-align: center;
    color: black;
    background-color: gainsboro;
}

.heading {
    padding-top: 50px;
    padding-bottom: 50px;
    color: orange;
}

.highlight {
    color: coral;
    font-style: bold;
}

.box {
    padding: 20px;
}

.graph {
    width: 800px;
    height: 1200px;
    border: 2px solid black;
    /* border-radius: 2%; */
}

.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.center {
    text-align: center;
}


